# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
.pnp
.pnp.js

# expo
.expo/
dist/
web-build/

# native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.keystore

# metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env.local

# typescript
*.tsbuildinfo
